# SQLite 3 dump of database
*.sqlite
*.sqlite3
*.db
db/*.db

# raw data
data/raw_data/*.parquet

# processed data
cleaned_data/cleaned_fraud.parquet
data/cleaned_data/*.parquet


# cached datasets
.cache/kagglehub/

# Files
data/data_exploration.ipynb
data/query_template_script.ipynb
data/eda_notes.md
data/sql_queries.ipynb
data_visualization_draft.ipynb
data/SQL_cleaning_test.ipynb


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
__pycache__/
*.pyc



.DS_Store
